
.container{
  background-image: url('C:\Users\ASUS\OneDrive\Desktop\weatherapp\public\images\background.jpg');
 background-color: rgb(99, 94, 94);
 background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
background-blend-mode: soft-light;
display: flex;
  align-items: center;
  height: 700px;
  width: 100%;
  justify-content: center;
  
}

.weather{
  padding: 20px;
  justify-content: center;
  height: 220px;
  width: 300px;
  background:rgb(139, 136, 215);
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px black;
}
.result{
   background-image:url('/public/images/images.jpeg');
background-repeat: no-repeat;
background-size: cover;
background-position: fixed;
background-blend-mode: soft-light;
font-weight: bolder;
 margin-left: 10px;
  padding: 20px;
  justify-content: center;
  height: 600px;
  width: 400px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px black;
}
.result:hover{
  box-shadow: 0px 0px 15px 3px black;
  height: 650px;
  width: 430px;
}

button{
  background-color: rgb(19, 243, 120);
  color: white;
  border-radius: 10px;
  height: 30px;
  width: 110px;
  border: 1px solid black;
  font-weight: bolder;
  box-shadow: 0px 0px 2px 1px black;
}
button:hover{
  background-color: rgb(54, 148, 54);
  cursor: pointer;
  height: 35px;
  width: 115px;
}